<p>book-list works!</p>


<h1>Book</h1>

<div *ngFor="let book of books$ | async ">

  <h2>{{ book.title }}</h2>
  <p>Author: {{ book.author }}</p>
  <p>Published: {{ book.publishedDate | date }}</p>
  <p>Genre: {{ book.genre }}</p>
  <p>Summary: {{ book.summary }}</p>
  <p>Rating: {{ book.rating }}</p>
  <p>Available: {{ book.isAvailable ? 'Yes' : 'No' }}</p>
  <hr>
  <button (click)="removeBook(book.id)">Remove Book</button>
</div>

<h2>Create a new book</h2>


<div>

  <!---
  <input #bookId  type="text" placeholder="Book Id" />
  <input #bookTitle type="text" placeholder="Book Title" />
  <input #bookAuthor type="text" placeholder="Author" />
  <input #bookPublishedDate type="date" placeholder="Published Date" />
  <input #bookGenre type="text" placeholder="Genre" />
  <input #bookSummary type="text" placeholder="Summary" />
  <input #bookRating type="number" placeholder="Rating" />
  <input #bookIsAvailable type="checkbox" />
  <button (click)="addBook(bookId.value, bookTitle.value, bookAuthor.value, 
  bookPublishedDate.value, bookGenre.value, bookSummary.value, +bookRating.value, 
  bookIsAvailable.checked)">
    Add Book
  </button>
-->


  <input #bookId type="text" placeholder="ID">
  <input #bookTitle type="text" placeholder="Title">
  <input #bookAuthor type="text" placeholder="Author">
  <input #bookPublishedDate type="date" placeholder="Published Date">
  <input #bookGenre type="text" placeholder="Genre">
  <input #bookSummary type="text" placeholder="Summary">
  <input #bookRating type="number" placeholder="Rating">
  <input #bookIsAvailable type="checkbox"> Available
  
  <button (click)="addBook(
    bookId.value,
    bookTitle.value,
    bookAuthor.value,
    bookPublishedDate.value,
    bookGenre.value,
    bookSummary.value,
    bookRating.valueAsNumber,
    bookIsAvailable.checked,
    bookId,
    bookTitle,
    bookAuthor,
    bookPublishedDate,
    bookGenre,
    bookSummary,
    bookRating,
    bookIsAvailable
  )">Add Book</button>



  
</div>

